# HashiCorp Vault Server Address
VAULT_ADDR=http://127.0.0.1:8200

# Vault Authentication Token
VAULT_TOKEN=your-vault-token-here

# Vault Unseal Key Shard
VAULT_UNSEAL_KEY=your-unseal-key-here

# Default secret path prefix
VAULT_PREFIX=myprefix

# Vault Namespace (optional)
VAULT_NAMESPACE=your-namespace-here
